name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    
    - name: Set up Python 3.11
      uses: actions/setup-python@v5
      with:
        python-version: "3.11"
        
    - name: Install uv
      uses: astral-sh/setup-uv@v3
      
    - name: Install Dependencies
      run: |
        uv sync --frozen
        
    # - name: Run Linter (Ruff)
    #   run: uv run ruff check .
      
    # - name: Run Tests
    #   run: uv run pytest tests/
